# Node modules
node_modules/

# Build output
dist/
public/build/
build/

# Tailwind/JIT temp files
.tailwind-cache/

# OS-specific
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project